<form method="POST" action="/api/dates/">
    <input name="start_date" placeholder="Start Date YYYY-MM_DD">
    <input name="end_date" placeholder="End Date YYYY-MM_DD">
    <input class='btn btn-primary' type='submit'>
</form>
