<form method="POST" action="/api/dates/">
    <input id="start_date" name="start_date" placeholder="Start Date YYYY-MM_DD">
    <input id="end_date" name="end_date" placeholder="End Date YYYY-MM_DD">
    <input id="submit" class='btn btn-primary' type='submit'>
</form>
