<form id="form" method="POST" action="/api/dates/">
    <input id="start_date" type="text" name="start_date" placeholder="Start YYYY-MM-DD">
    <input id="end_date" type="text" name="end_date" placeholder="End YYYY-MM-DD">
    <input id="submit" class='btn btn-primary' type='submit'>
</form>
