<form id="form" class="form-inline" action="/api/<%= @id %>" method="POST">
  <input id="asteroid_id" class="mr-sm-2" type="text" name="id" placeholder="Asteroid ID">
  <button class="btn btn-primary btn-outline-success my-2 my-sm-0" id="submit_button" type="submit">Search</button>
</form>
