<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" id="x_button" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/">Stars</a>
  <a href="/new">New Star</a>
  <a href="/api/browse">List of asteroids</a>
  <a href="/api/feed">Search between dates</a>
  <a href="/api/lookup">Search asteroid</a>
</div>
