<nav>
  <a href="/">Stars</a>
  <a href="/new">New Star</a>
  <a href="/api/browse">List of asteroids</a>
  <a href="/api/feed">Search between dates</a>
  <a href="/api/lookup">Search asteroid</a>
</nav>
