<h1 class="text">About Page</h1>
<p class="text">This web application consumes the NASA API Near Earth Object Web Service. To find out more, go to this website: <a href="https://api.nasa.gov/api.html#NeoWS">https://api.nasa.gov/api.html#NeoWS</a>. A database of constellations is also made and shown in the home page.</p>
