<h1 class="text">Welcome to a starry night</h1>
<div class="inner">
  <%@stars.each do |star|%>
    <div class="ind">
      <a href="<%=star.id%>" id="<%=star.id%>">
        <h3><%=star.title%></h3>
        <div class="star_image">
          <img src="<%=star.image%>">
        </div>
      </a>
    </div>
  <%end%>
</div>
