body{
background: url("https://www.jpl.nasa.gov/assets/images/content/tmp/home/missions_bg_image.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
color: silver;
}

header{
  background-color: black;
  height: 70px;
}

#openNav{
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 2.5rem;
  color: inherit;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.text{
  margin-top: 60px;
  text-align: center;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#falling_star{
  width: 60%;
  position: fixed;
  bottom: 1px;
  right: -100px;
  z-index: -1;
}

.ind{
  margin-left: 100px;
  margin-top: 50px;
  float: left;
  height: 185px;
  text-align: center;
}

.ind img{
  width: 150px;
  border: white solid 1px;
}

a{
  color: silver;
  cursor: pointer;
}

.table-margin{
  width:70%;
  margin-left:20%;
  margin-right:20%;
  text-align: center;
  margin-top: 70px;
  display: block;
}

.stable{
  margin-top: 70px;
  display: block;
}

td a{
  color: inherit;
}

#form{
  margin-top: 80px;
  margin-left: 40%;
  margin-right: 40%;
}

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn{
  border-radius: 0;
}

.btn-primary{
  color: silver;
  background-color: #4a4a4a;
  border-color: black;
}

#stars{
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.star_buttons{
  margin-top: 20px;
}

.inner{
  margin: 0px 30%;
}
