<h4 class="text">Here is a list of asteroids. To find more information on the asteroid, click on the neo reference id</h4>
<table class="table-margin table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>neo reference id</th>
      <th>name</th>
    </tr>
  </thead>
  <tr>
    <td><%= results %></td>
  </tr>
</table>
