<h1 class="text">Asteroid between dates</h1>
<h3 class="text">You can only search for asteroids in a week, anymore and the API will not register the inputs</h3>
<%= erb(:'partials/dates_form', :layout => false) %>
