<h1 class="text">Search for an asteroid</h1>
<h3 class="text">To search for an asteroid, you will need to know it's NASA JPL small body (SPK-ID) ID</h3>
<h3 class="text">Go to <a href="https://ssd.jpl.nasa.gov/sbdb_query.cgi">https://ssd.jpl.nasa.gov/sbdb_query.cgi</a> to find out more about the ID</h3>
<%= erb(:'partials/look_up_form', :layout => false) %>
